<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.loop://663be848-320c-4ed1-97c3-46ac7be6c954" behaviorConfiguration="EndpointBehavior" binding="customBinding" bindingConfiguration="663be848-320c-4ed1-97c3-46ac7be6c954" contract="LoopbackTransport.Tests.ISendLoopback" name="TWOWAY_LOOPBACK" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior" />
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="663be848-320c-4ed1-97c3-46ac7be6c954">
          <loopbackTransport />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>